@font-face {
      font-family: "Gilroy-SemiBold";
      src: url("fonts/Gilroy-SemiBold.ttf");
}

@font-face {
      font-family: "Gilroy-Bold";
      src: url("fonts/Gilroy-Bold.ttf");
}

@font-face {
      font-family: "Gilroy-Medium";
      src: url("fonts/Gilroy-Medium.ttf");
}

@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}
