.cost{
	background-image: url(../images/cost-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 90px;;
	height: 730px;
	overflow: hidden;
}

.cost-title-text{
	margin-top: 25px;
	color: #163950;
	font-size: 20px;
	font-family: 'Gilroy-Medium';
}

.cost-title-text > span{
	color: #00497c;
	font-family: 'Gilroy-Bold';
}

.cost_block{
	margin-top: 70px;
	margin-left: 235px;
	display: flex;
	justify-content: center;
}

.cost_block__form{
	width: 580px;
	background-color: #fbfbfb;
	padding: 40px 80px 20px 50px;
	border-radius: 39px 39px 39px 39px / 150px 150px 150px 150px;
	box-sizing: border-box;
	margin-top: 10px;
}
.cost_block__form__el{
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.cost_block__form__el > label{
	font-family: 'Gilroy-Bold';
	color: #163950;
	font-size: 18px;
	margin-top: 10px;
}

.cost_block__form__el > select{
	width: 310px;
	height: 40px;
	color: #163950;
	font-size: 18px;
	font-family: 'Gilroy-Medium';
	outline: none;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	box-shadow: #000 ;
	padding: 0 21px;
	background-color: #fbfbfb;
	-webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.1) inset;
	-moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.1) inset;
	box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.1) inset;
}

.cost_block_size_roll_wrapper{
	width: 310px;
	display: flex;
}

.cost_block__size_roll_value{
	font-size: 20px;
	color: #163950;
	font-family: 'Gilroy-SemiBold';
	margin: auto 0;
}

.cost_block__size_roll{
	-webkit-appearance: none;
	width: 250px;
	height: 6px;
	border-radius: 5px;
	margin: auto 20px auto 0;
	-webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.1) inset;
	-moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.1) inset;
	box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.1) inset;
}

input[type=range]::-webkit-slider-thumb{
	height: 24px;
	width: 24px;
	background-color: #fff;
	border-radius: 50%;
	border: #ee691d 3px solid;
}

.cost_block__form_button{
	margin: 10px auto 0 auto ;
	display: block;
}

.cost_img{
	margin-left: -50px;
}
